.alchemymenu-dialog{
    max-width: 53.9583vw;
}
.alchemymenu-content{
    width: 53.9583vw;
    height: 34.7917vw;
    background-image: url('./../../../assets/menus/alchemy-menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    text-align: center;
    vertical-align: center;
    .alchemy-close{
        position: absolute;
        width: 2.1875vw;
        height: 2.1875vw;
        top: 0.625vw;
        right: 1.4583vw;
    }
    .alchemy-text{
        font-family: 'upheaval';
        font-size: 2.5vw;
        color: white;
        margin: auto;
    }
}