.selectrecipe-dialog{
    max-width: 45.4167vw;
}
.selectrecipe-content{
    width: 45.4167vw;
    height: 16.5625vw;
    background-image: url('./../../../assets/menus/select-recipe-menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    .selectrecipe-close{
        position: absolute;
        width: 4.1875vw;
        height: 4.1875vw;
        top: 0.5vw;
        right: 0.5vw;
        transition: 0.5s;
    }
    .selectrecipe-close:hover{
        cursor: pointer;
        transform: scale(1.1,1.1);
    }
    .selectrecipe-button{
        position: absolute;
        width: 19.6875vw;
        height: 6.25vw;
        bottom: 0.5vw;
        left: 12.5vw;
        transition: 0.5s;
    }
    .selectrecipe-button:hover{
        cursor: pointer;
        transform: scale(1.1, 1.1);
    }
}