.stove01{
    position: absolute;
    top: 15.7292vw;
    left: 30.3125vw;
    .stove01-img{
        display: inline-block;
        position: absolute;
        width: 12.9167vw;
        height: 11.25vw;
    }
    .sarten01{
        top: 0.5vw;
        left: 2.5vw;
    }
    .sarten02{
        top: 1.5vw;
        left: 5.7vw;
    }
    .sarten03{
        top: 0.5vw;
        left: 8.875vw;
    }
    .sarten04{
        top: 2.5vw;
        left: 1.5vw;
    }
    .sarten05{
        top: 2.5vw;
        left: 9.45vw;
    }
    .food01{
        top: 0vw;
        left: 1.5vw;
    }
    .food02{
        top: 1.2vw;
        left: 4.8vw;
    }
    .food03{
        top: 0vw;
        left: 8vw;
    }
    .food04{
        top: 2.2vw;
        left: 0.7vw;
    }
    .food05{
        top: 2vw;
        left: 8.9vw;
    }
    .pan01{
        top: -1vw;
        left: 2.1875vw;
    }
    .pan02{
        top: 0.25vw;
        left: 5.5vw;
    }
    .pan03{
        top: -1vw;
        left: 8.5vw;
    }
    .pan04{
        top: 1.25vw;
        left: 1.3875vw;
    }
    .pan05{
        top: 1.25vw;
        left: 9.4125vw;
    }
    .time01{
        top: 0.3vw;
        left: 2.4vw;
    }
    .time02{
        top: 1.5vw;
        left: 5.7vw;
    }
    .time03{
        top: 0.3vw;
        left: 8.75vw;
    }
    .time04{
        top: 2.5vw;
        left: 1.6vw;
    }
    .time05{
        top: 2.5vw;
        left: 9.65vw;
    }
    .progress01{
        top: -1.75vw;
        left: 1.875vw;
    }
    .progress02{
        top: 3vw;
        left: 5.15vw;
    }
    .progress03{
        top: -1.75vw;
        left: 8.175vw;
    }
    .progress04{
        top: 4vw;
        left: 1vw;
    }
    .progress05{
        top: 3.875vw;
        left: 9vw;
    }
}