.nowalletmenu-dialog{
    max-width: 45.4167vw;
}
.nowalletmenu-content{
    width: 45.4167vw;
    height: 16.5625vw;
    background-image: url('./../../../assets/menus/no-wallet-menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}