.stove05{
    position: absolute;
    top: 29.2857vw;
    left: 49.5833vw;
    .stove05-img{
        display: inline-block;
        position: absolute;
        width: 12.8125vw;
        height: 9.5833vw;
    }
    .sarten01{
        top: 1vw;
        left: 1.5vw;
    }
    .sarten02{
        top: 0.5vw;
        left: 5.7125vw;
    }
    .sarten03{
        top: 1vw;
        left: 9.6125vw;
    }
    .sarten01{
        top: 1vw;
        left: 1.5vw;
    }
    .sarten02{
        top: 0.5vw;
        left: 5.7125vw;
    }
    .sarten03{
        top: 1vw;
        left: 9.6125vw;
    }
    .food01{
        top: 0.5vw;
        left: 0.8vw;
    }
    .food02{
        top: 0vw;
        left: 4.9vw;
    }
    .food03{
        top: 0.5vw;
        left: 8.9vw;
    }
    .pan01{
        top: -0.4vw;
        left: 1.375vw;
    }
    .pan02{
        top: -1vw;
        left: 5.4125vw;
    }
    .pan03{
        top: -0.4vw;
        left: 9.3125vw;
    }
    .time01{
        top: 0.8vw;
        left: 1.6vw;
    }
    .time02{
        top: 0.2vw;
        left: 5.7vw;
    }
    .time03{
        top: 0.8vw;
        left: 9.6vw;
    }
    .progress01{
        top: 2.35vw;
        left: 1vw;
    }
    .progress02{
        top: -1.625vw;
        left: 5.15vw;
    }
    .progress03{
        top: 2.35vw;
        left: 9vw;
    }
}
