.Footer{
    border: 1px solid black;
    .dark-grey{
        height: 1vw;
        background-color: #5B5B5B;
    }
    .grey{
        height: calc(100vh - 48vw - 2px);
        background-color: #B6B6B6;
    }
    .buttons{
        height: 7vw;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn_groups{
            .footer_buttons{
                height: 4vw;
                width: auto;
            }
            .footer_buttons.inactive{
                opacity: 0.7;
            }
            .footer_buttons.inactive:hover{
                cursor: not-allowed;
                opacity: 0.7;
                transform: none!important;
            }

        }
    }
}