.loadingmenu-dialog{
    max-width: 54.0625vw;
}
.loadingmenu-content{
    width: 54.0625vw;
    height: 10.3125vw;
    background-image: url('./../../../assets/menus/loading-menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}