.savingmenu-dialog{
    max-width: 53.9583vw;
}
.savingmenu-content{
    width: 53.9583vw;
    height: 34.7917vw;
    background-image: url('./../../../assets/menus/saving-menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}