#root{
  height: 100vh;
  overflow: hidden;
}
.App {
  text-align: center;
  position: relative;
  top: -5vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hover-scale{
  transition: 0.5s;
}
.hover-scale:hover{
  cursor: pointer;
  transform: scale(1.15, 1.15);
}
@font-face {
  font-family: "Upheaval";
  src: url("./assets/fonts/upheavtt.ttf") format("truetype");
}
.modal-content{
  border: none!important;
}