.switchnetworkmenu-dialog{
    max-width: 45.4167vw;
}
.switchnetworkmenu-content{
    width: 45.4167vw;
    height: 16.5625vw;
    background-image: url('./../../../assets/menus/switch-network-menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}